.profile{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    box-shadow: 10px 10px 20px black;
    flex-direction: column;
}

.imgProfile{
    max-width: rem;
    margin: 0 2rem 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgProfile img{
    max-width: 50vw;
    height: auto;
    margin: 0 0 3rem 0;
}

.textData{
    max-width: 50vw;
    text-align: center;
    font-size: 1.5rem;
}

.textData h2{
    margin-bottom: 1.5rem;
}